# Ignore synthetic_data/logo_graphic, wandb and results directories and everything inside them
synthetic_data/logo_graphic/**/*
wandb/**/*
results/**/*
#added unsloth temporary saved buffers to gitignore
_unsloth_temporary_saved_buffers/**/*