# Ignore synthetic_data/logo_graphic, wandb and results directories and everything inside them
# ignore cloned repo
external/prompt-loss-weight/**/*

# ignore graphic data
synthetic_data/logo_graphic/**/*

# Explicit wandb ignores
wandb/**/*
wandb/debug*.log
wandb/latest-run
wandb/**/

# Explicit results ignores
results/archive/**/*
results/length/**/fn_model/**/* 

# Ignore compiled files
__pycache__/**/*

# Ignore Unsloth related files
unsloth_compiled_cache/**/*
_unsloth_temporary_saved_buffers/**/*

# Virtual environment files which I use on my local machine should not be tracked
thesis_env/**/*
requirements_venv.txt

# Ignore macOS system files
.DS_Store
**/.DS_Store