# Ignore synthetic_data/logo_graphic, wandb and results directories and everything inside them
synthetic_data/logo_graphic/**/*
# Explicit wandb ignores
wandb/**/*
wandb/debug*.log
wandb/latest-run
wandb/**/
results/**/*
_unsloth_temporary_saved_buffers/**/*
__pycache__/**/*
unsloth_compiled_cache/**/*
# ignore cloned repo
external/prompt-loss-weight/**/*