synthetic_data/logo_graphic/* !text !filter !merge !diff
*.safetensors filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
results/match/*/fn_model/**/*.pt filter=lfs diff=lfs merge=lfs -text
results/match/*/fn_model/**/*.safetensors filter=lfs diff=lfs merge=lfs -text
