# Ignoriere Python-Bytecode-Dateien
__pycache__/
*.pyc

# Ignoriere Umgebungsdateien
.env
*.env

# Ignoriere virtuelle Umgebungen
venv/
env/

# Ignoriere Build-Artefakte
build/
dist/

# Ignoriere Log-Dateien
*.log

# Ignoriere temporäre Dateien
*.tmp
*.swp

# Ignoriere Dokumentations-Builds
docs/_build/

# Ignoriere Betriebssystem-spezifische Dateien
.DS_Store
Thumbs.db